.col-container {
  display: flex;
  flex-direction: column;
}

/* col-1 styles */
.col-1 {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.col-1 img {
  width: 50%;
  height: 50%;
  margin: 2rem;
  border-radius: 10px;
  border-top-right-radius: 10em;
}

.col-1--content {
  text-align: center;
  margin: 1rem;
}

/* col-2 styles */
.col-2 {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.col-2 img {
  width: 50%;
  height: 50%;
  margin: 2rem;
  border-radius: 10px;
  border-top-left-radius: 10em;
}

.col-2--content {
  text-align: center;
  margin: 1rem;
}

/* col-3 styles */
.col-3 {
  text-align: center;
}

.col-3--content {
  display: flex;
}

.col-3--content img {
  width: 15rem;
  height: 15rem;
  margin: 2rem;
  border-radius: 15px;
}
