footer {
  background-color: #412728;
  color: white;
  height: 9rem;
  display: flex;
  justify-content: space-around;
  align-items: center;
  position: absolute;
  left: 0;
  bottom: 0;
  right: 0;
}

footer a {
  color: white;
  text-decoration: none;
}

footer a:hover {
  opacity: 0.75;
}

#mailingList {
  display: inline-block;
}

#mailingList a {
  text-decoration: underline;
}

#toTopBtn {
  background-color: #00C9C8;
  border-radius: 10px;
  height: 1.75rem;
  width: 10rem;
  font-weight: bold;
}

#toTopBtn:hover {
  cursor: pointer;
  scale: 1.1;
  background-color: white;
}

#socialsAndCopyright {
  display: table-column;
  text-align: center;
}

#socials {
  display: flex;
  text-align: center;
  list-style-type: none;
}