#homeContainer {
  background-color: #412728;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 200vh;
  padding-left: 3rem;
  padding-right: 3rem;
}

#topImageContainer {
  background-image: url('/home/salvat/group_projects/summerfield/client/public/landingPageTestPic.jpg');
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100vw;
  margin-top: 3rem;
}

#topTextLeft {
  background-color: rgba(20, 19, 20, 0.783);
  height: 80%;
  width: 40%;
  padding: 1rem;
  justify-content: center;
}

#introText {
  background-color: rgb(242, 142, 11);
  text-align: center;
  font-size: 72px;
}

#topTextRight {
  background-color: rgba(20, 19, 20, 0.783);
  height: 80%;
  width: 40%;
  padding: 1rem;
  text-align: center;
  line-height: 45px;
}

#bottomContainer {
  background-color: #a0e00c;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100vw;
}



#bottomLeft {
  background-color: #ed2295;
  height: 80%;
  width: 40%;
  padding: 1rem;
  text-align: center;
}

#newsImage {
  height: 200px;
  width: 200px;
}

#bottomRight {
  background-color: #5b1cc0;
  height: 80%;
  width: 40%;
  padding: 1rem;
  text-align: center;
}

.www {
  color:#00C9C8
}

span {
  color: white;
}

h1 {
  color: white
}

h2 {
  color: white
}

h3 {
  color: white
}

p {
  color: white
}
