#homeContainer {
  background-color: #412728;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 200vh;
}

#topImageContainer {
  background-image: url('/home/salvat/group_projects/summerfield/client/public/landingPageTestPic.jpg');
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100%;
  margin-top: 3rem;
}

#topTextLeft {
  background-color: rgba(20, 19, 20, 0.783);
  height: 80%;
  width: 40%;
  /* padding: 1rem; */
  justify-content: center;
}

#introText {
  /* background-color: rgb(242, 142, 11); */
  text-align: center;
  font-size: 72px;
}

#topTextRight {
  background-color: rgba(20, 19, 20, 0.783);
  height: 80%;
  width: 40%;
  /* padding: 1rem; */
  text-align: center;
  line-height: 45px;
}

#bottomContainer {
  background-color: rgba(20, 19, 20, .5);
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100%;
}



#bottomLeft {
  height: 80%;
  width: 40%;
  padding: 1rem;
  text-align: center;
}

#newsImage {
  height: 200px;
  width: 200px;
}

#bottomRight {
  height: 80%;
  width: 40%;
  padding: 1rem;
  text-align: center;
}

#upcomingProductions {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

#headerSeparator {
  height: 0.25rem;
  background-color: #00C9C8;
}

.production {
  width: 500px;
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
  margin-left: 20px;
  position: relative;
}

.productionDetails {
  display: flex;
  flex-direction: column;
  align-items: center;
}



.ticketBtn {
  background-color:#00C9C8;
  position: absolute;
  right: 0;
  bottom: 0;
  margin: 10px;
  padding: 5px 10px;
  border-radius: 10px;
  height: 1.75rem;
  width: 9rem;
  font-size: 16px;
  font-weight: bold;
  color: white;
  border: none;
  cursor: pointer;
}

.ticketBtn:hover {
  filter: brightness(2);
}

.www {
  color:#00C9C8
}

span {
  color: white;
}

h1 {
  color: white
}

h2 {
  color: white;
  margin: 0;
}

h3 {
  color: white
}

p {
  color: white
}
